@import "base";

* {
    background-color: $clr-bg;
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: $clr-light;
    text-align: center;

    header {
        color: $clr-light;
        text-decoration: none;
        font-size: 5rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    p {
        font-weight: 300;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .question {
        color: $clr-light;
        display: flex;
        flex-direction: column;
        align-items: center;

        .question-title {
            font-size: 2rem;
            text-align: center;
            max-width: 50vw;
        }
    
        .answers {

            .option {
                position: relative;
                display: flex;
    
                .option-fields {
                    width: 50vw;
    
                    .option-container {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        cursor: pointer;

                        border-radius: 0.5rem;
                        @include ease-in-transition();
    
                        label {
                            display: flex;
                            align-items: center;
                            
                        }
                        
                        .checkbox {
                            display: none;
                            position: absolute;

                            &:checked + .field { 
                                color: $clr-dark;
                                background-color: #44e15f;
                                border-color: #2b933c;

                                box-shadow: 0rem 0rem 0.8rem rgba($color: #44e15f, $alpha: 0.8);

                                @include default-transition();
                            }

                            &:checked ~ i {
                                filter: brightness(1.5) contrast(1.5);
                                @include default-transition();
                            }

                        }

                        .field {
                            margin: 0;
                            font-size: 1rem;
                            color: $clr-light;
                            border: solid $clr-dark;
                            padding: 0.5rem;
        
                            width: 100%;
                            padding-left: 2.5rem;
        
                            border-radius: 0.5rem;
                            background-color: $clr-input-bg;
                            border-width: 0.1rem;

                            @include default-transition();
                        }

                        &:hover {
                            transform: scale(1.05);
                            box-shadow: 0rem 0rem 0.5rem rgba($color: $clr-dark, $alpha: 0.8);
                            
                            @include ease-in-transition();
                        }
                    }
    
                }
            }    
        }
    }

    #next {
        margin: 1.5rem;
        margin-top: 4rem;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;

        color: $clr-light;
        border: solid $clr-dark;
        border-radius: 0.5rem;
        background-color: $clr-input-bg;
        border-width: 0.1rem;

        @include default-transition();

        &:hover {
            box-shadow: 0rem 0rem 0.8rem #58a6bc;
            border-color: #58a6bc;
            background-color: #58a6bc;
            transform: scale(1.05);
            cursor: pointer;

            @include default-transition();
        }
    }

    #previous {
        color: $clr-light;
        border: none;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 0.05rem;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    #check {
        $value: 5rem;

        margin-left: $value;
        margin-right: $value;

        color: $clr-light;
        border: none;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 0.05rem;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
}