@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$clr-light: #e7f6f2;
$clr-medium: #a5c9ca;
$clr-dark: #3a5c65;
$clr-bg: #2d3434;

* {
    background-color: $clr-bg;
    font-family: 'Work Sans', sans-serif;
}

#title {
    color: $clr-light;
    text-align: center;

    header {
        margin: 2rem;
        margin-bottom: 3rem;

        p {
            font-size: 3rem;
            font-weight: 100;
            margin: auto;
        }
        
        a {
            color: $clr-light;
            text-decoration: none;
            font-size: 5rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    p{
        margin: auto;
        text-align: justify;
        text-align-last: center;
        font-size: 1.5rem;
        font-weight: 300;
        max-width: 70vw;
    }

}